<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./styles/style.css">
    <link rel="stylesheet" href="./styles/all.min.css">
    <title></title>
</head>

<body>
    <div class="header">
        
    </div>
    <div class="main">
        
    <div class="container" id="products">
        
    </div>
</body>
<script src="./scripts/moment.js"></script>
<script src="./scripts/jalali-moment.js"></script>
<script src="./scripts/uuid.min.js"></script>
<script src="./scripts/functions.js"></script>
<script src="./scripts/app.js"></script>

</html>