@import url('reset.css');

.container {
    background-color: #f2f2f2;
    border-radius: 1rem;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.3);
    height: 5rem;
    padding: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;

}

.input {
    position: relative;
}

.password {
    font-family: 'IRANSansXFaNum';
    outline: none;
    padding: 1rem;
    border: 1px solid #52ab98;
    border-radius: 0.8rem;
}

.icon {
    position: absolute;
    left: 3%;
    top: 3%;
    margin-top: 6%;
    opacity: 0.5;
}

.icon:hover {
    opacity: 1;
}